$color-red: rgb(230, 0, 0);
$color-grey: #bdbdbd;
$color-green: #70a800;
$color-selected: hsla(0, 100%, 50%, 0.4);
$color-blue: #1061A6;
$table-border: 1px solid #363636;
$table-background: #222222;
$mobile: 678px;
$tablet: 700px;
$tab: 1366px;
$task-width: 1024px;